
.contact{
    display: grid;
    margin-top: 100px;
    height: 80vh;
    grid-template-columns: 50% 40%;
}
.col-1{
    align-content: start;
    padding: 50px 100px;
}
.col-2{
    padding: 20px 10px;
}
.input-field{
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 20px;
    border-radius: 3px;
}
textarea{
    height: 150px;
}
.btn-contact{
    float: right;
    margin-top: 20px;
    margin-bottom: 100px;
    background-color: #FA1F1B;
    color: white;
    padding: 10px 20px;
    border-radius: 0px;
    border-radius: 5px;
}
.btn-contact:hover{
    background-color: #cccccc;
    cursor: pointer;
}
.contactpara{
    width: 60%;
    text-align: justify;
}
.contact-background-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.212), black), url("../assets/contact.jpg");
    height: 700px;
    width: 98.9vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
input[type="text"], input[type="email"],textarea {
    border-bottom: 3px solid #996b6b;
}
input::placeholder, textarea::placeholder {
    font-family: 'Poppins', sans-serif;
}
.contact-background-image div h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    display: block;
    padding-top: 20px;
}
.contact-background-image div p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
    display: block;
}

@media only screen and (max-width: 700px) {
    .contact-background-image{
        height: 1000px;
    }
    .contact-background-image div h1{
        font-size: 35px;
        padding: 0px 10px;
    }
    .contact-background-image div p{
        font-size: 15px;
        padding: 0px 10px;
    }
    .contact{
        display: grid;
        grid-template-columns: auto;
    }

    .col-1{
        padding: 10px;
        justify-content: center;
    }
    .col-2{
        padding: 10px;
        justify-content: start;
    }
    .input-field{
        width: 94%;
    }
    .contactpara{
        text-align: center;
        width: 100%;
        font-weight: 200;
    }
    .contact-heading{
        text-align: center;
        font-weight: 400;
        padding-bottom: 15px;
    }

    .contact-background-image{
        height: 400px;
        width: 98.9vw;
        background-position: center;
    }
}


